@{
    ViewData["Title"] = "Dashboard";
}

<!-- Barra superior -->
<div class="d-flex justify-content-end p-3">
    <a asp-controller="Perfil" asp-action="MiPerfil" class="btn btn-outline-light">
        Mi Perfil
    </a>


    <a asp-controller="Auth" asp-action="Logout"
       class="btn btn-outline-danger rounded-3 fw-semibold">
        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
    </a>
</div>

<div class="container d-flex justify-content-center align-items-start" style="min-height: 75vh;">

    <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg border-0 bg-dark text-light rounded-4">
            <div class="card-body p-4">

                <h2 class="text-center mb-4 fw-bold" style="letter-spacing:1px;">
                    Bienvenido Administrador
                </h2>

                <div class="d-grid gap-3 mt-4">

                    <a asp-action="ListarPeluqueros"
                       class="btn btn-primary btn-lg rounded-3 fw-semibold shadow-sm">
                        Gestionar Peluqueros
                    </a>

                    <a asp-controller="Servicio" asp-action="Index"
                       class="btn btn-secondary btn-lg rounded-3 fw-semibold shadow-sm">
                        Gestionar Servicios
                    </a>

                    <a asp-controller="Grupo" asp-action="Index"
                       class="btn btn-dark btn-lg rounded-3 fw-semibold shadow-sm">
                        Gestionar Grupos
                    </a>

                    <a asp-controller="Administrador" asp-action="Usuarios"
                       class="btn btn-light btn-lg rounded-3 fw-semibold shadow-sm">
                        Gestionar Permisos de Usuarios
                    </a>

                    <a asp-action="Reportes"
                       class="btn btn-info btn-lg rounded-3 fw-semibold text-white shadow-sm">
                        Ver Reportes
                    </a>

                    <a asp-controller="Valoraciones" asp-action="ListadoGeneral"
                       class="btn btn-warning btn-lg rounded-3 fw-semibold shadow-sm">
                        Valoraciones de Peluqueros
                    </a>


                </div>

            </div>
        </div>
    </div>

</div>
